<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="cn.featherfly.rc" />
    
    <bean id="testConfigurationValuePersistence" class="cn.featherfly.rc.TestConfigurationValuePersistence"/>
    <bean class="cn.featherfly.rc.spring.DynamicConfigurationSpringRegist">
        <constructor-arg value="cn.featherfly.rc"/>
        <constructor-arg value="testConfigurationValuePersistence"/>
    </bean>

    <bean class="cn.featherfly.persistence.jdbc.JdbcPersistenceImpl" p:dataSource-ref="">    
    </bean>
    
    <bean class=""></bean>
</beans>